@model MVCTovarsNavigation.Models.Tovar

@{
    ViewBag.Title = "Choose";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div>
    <h4>Tovar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer.ProducerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer.ProducerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
</p>
